<form id="login" name="loginForm" class="form small-form" novalidate>
  <div class="form-group">
    <input type="text" placeholder="Username" class="form-control" ng-model="vm.username" required>
  </div>
  <div class="form-group">
    <input type="password" placeholder="Password" class="form-control" ng-model="vm.password" required>
  </div>
  <button class="btn btn-primary btn-block" type="submit" ng-click="vm.login(vm.username, vm.password)">Login</button>

  <button class="btn btn-default" ng-click="vm.logout()">Logout</button>
</form>